table.spreadsheet {
  border-collapse: collapse;
  margin-top: 1em;
  overflow-x: scroll;
}

table.spreadsheet thead {
  background-color: #d3d3d3;
}

table.spreadsheet td {
  border: 1px solid black;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
}
