.btn {
  margin: 5px;
}

.control-panel {
  background-color: #d3d3d3;
}

table.spreadsheet {
  border-collapse: collapse;
  margin-top: 1em;
  overflow-x: scroll;
}

table.spreadsheet thead {
  background-color: #d3d3d3;
  font-weight: bold;
}

table.spreadsheet td {
  border: 1px solid black;
  min-width: 50px;
  text-align: center;
}
